$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../imgs/Tech/CyberpunkAesthetic.gif);
$myBrand: url(../imgs/Tech/myPortrait.png);
$myBrand_small: url(../imgs/Tech/myPortrait-small.png);
$background-opacity: 0.9;


@mixin easeOut {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-image {
      background: $home-image no-repeat;
      background-attachment: fixed;
      background-size: cover;
      
      &:after {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

// Set Text Color
@function setTextColor($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (max-width: 1440px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1441px) {
    @content;
  }
}