// Menu Button -->
.menu-btn {
    position: absolute;
    z-index: 3;
    top: 35px;
    right: 35px;
    cursor: pointer;
    @include easeOut;
    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #fff;
        @include easeOut;
    }
}