// Menu Button -->
.menu-btn {
    position: absolute;
    z-index: 3;
    top: 35px;
    right: 35px;
    cursor: pointer;
    @include easeOut;
    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #fff;
        @include easeOut;
    }

    // Rotate Into X With Menu Lines
    &.close {
        transform: rotate(180deg);
        .btn-line {
            // Line 1 - Rotate
            &:nth-child(1) {
                transform: rotate(50deg) translate(5px, 6px);
            }

            // Line 2 - Hide
            &:nth-child(2) {
                opacity: 0;
            }

            // Line 3 - Rotate
            &:nth-child(3) {
                transform: rotate(130deg) translate(-5px, 6px);
            }
        }
    }
}

// Menu OverLay
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;
    &.show {
        visibility: visible;
    }
    &-branding,
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }
    // Menu Nav Side
    &-nav {
        margin: 0;
        padding: 0;
        background: darken($primary-color, 5);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;

        &.show {
            // Slide in From the top
            transform: translate3d(0, 0 ,0);
        }
    }
    // Branding side Now
    &-branding {
        margin: 0;
        padding: 0;
        background: $primary-color;
        transform: translate3d(0, 100%, 0);
        @include easeOut;

        &.show {
            // Slide in From the bottom
            transform: translate3d(0, 0, 0);
        }
        
        // Branding Side
        .portrait {
            width: 200px;
            height: 200px;
            margin-top: 30px;
            background: $myBrand no-repeat;
            border-radius: 50%;
            border: solid 3px $secondary-color;
        }
    }
    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut;

        &.show {
            // Slide in From Right
            transform: translate3d(0, 0, 0);
        }
    }
}

// Delay Each Nav Item Slide By 0.1s
@for $i from 1 through 4 {
    .nav-item:nth-child(#{$i}) {
        transition-delay: $i * 0.1s;
    }
}