// Menu Button -->
.menu-btn {
    position: absolute;
    z-index: 3;
    top: 35px;
    right: 35px;
    cursor: pointer;
    @include easeOut;
    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #fff;
        @include easeOut;
    }

    // Rotate Into X With Menu Lines
    &.close {
        transform: rotate(180deg);
        .btn-line {
            // Line 1 - Rotate
            &:nth-child(1) {
                transform: rotate(50deg) translate(5px, 6px);
            }

            // Line 2 - Hide
            &:nth-child(2) {
                opacity: 0;
            }

            // Line 3 - Rotate
            &:nth-child(3) {
                transform: rotate(130deg) translate(-5px, 6px);
            }
        }
    }
}

// Menu OverLay
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;
    &.show {
        visibility: visible;
    }
    &-branding,
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }
    // Menu Nav Side
    &-nav {
        margin: 0;
        padding: 0;
        background: darken($primary-color, 5);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;

        &.show {
            // Slide in From the top
            transform: translate3d(0, 0 ,0);
        }
        
        // ***** Links with filled stroke Effects ******
        /* stroke */
        &.stroke,
        &.fill {
            a {
            position: relative;
            }
        }
        
        &.stroke,
        &.fill {
            a:after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: '';
            color: transparent;
            background: #fff;
            height: 1px;
            }
        }
        &.stroke {
            a:hover:after {
            width: 100%;
            }
        }

        &.fill {
            a {
            color: $secondary-color;
            transition: all 2s;
            }
        }

        &.fill {
            a:after {
            text-align: left;
            content: '';
            margin: 0;
            opacity: 0;
            }
        }
        
        &.fill {
            a:hover {
            color: #fff;
            z-index: 1;
            }
        }
        &.fill {
            a:hover:after {
            z-index: -10;
            animation: fill 1s forwards;
            -webkit-animation: fill 1s forwards;
            -moz-animation: fill 1s forwards;
            opacity: 1;
            }
        }



        /* Keyframes */
        @keyframes fill {
        0% {
            width: 0%;
            height: 1px;
            background: $secondary-color;
        }
        50% {
            width: 100%;
            height: 1px;
            background: $secondary-color;
        }
        100% {
            width: 100%;
            height: 100%;
            background: rgba(lighten(#333, 10), .2);
            border-radius: 100%;
        }
        }


    }
    // Branding side Now
    &-branding {
        margin: 0;
        padding: 0;
        background: $primary-color;
        transform: translate3d(0, 100%, 0);
        @include easeOut;

        &.show {
            // Slide in From the bottom
            transform: translate3d(0, 0, 0);
        }
        
        // Branding Side
        .portrait {
            width: 200px;
            height: 200px;
            margin-top: 30px;
            background: $myBrand no-repeat;
            border-radius: 50%;
            border: solid 3px $secondary-color;
        }
    }
    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut;

        &.show {
            // Slide in From Right
            transform: translate3d(0, 0, 0);
        }
        &.active > a {
            color: #fff;
        }
    }
    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: #fff;
        text-decoration: none;
    }

}

// Delay Each Nav Item Slide By 0.1s
@for $i from 1 through 4 {
    .nav-item:nth-child(#{$i}) {
        transition-delay: $i * 0.1s;
    }
}