// WideScreens
@include mediaXl {
    main {
        .home-info {
            margin-top: 23rem;
            width: 20%;
        }
    }
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}
// Desktops & Laptops
@include mediaLg {
    main {
        .home-info {
            width: 50%;
        }
    }
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}
// Tablets & Small Laptops
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            font-size: 7rem;
        }

        .home-info {
            width: 100%;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0,0,0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%,0,0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%,0,0);

        .portrait {
            background: $myBrand_small no-repeat;
            width: 130px;
            height: 130px;
            margin: 5px auto;
        }
    }
    .about-info {
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
        grid-template-columns: 1fr;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}
// Smartphones
@include mediaSm {
    main {
        align-items: center;
        text-align: center;
        .lg-heading {
            font-size: 5rem;
        }

        .home-info {
            font-size: .6rem;
            width: 100%;
        }
    }

    main#home h1 {
        margin-top: 10vh;
    }

    .projects {
        grid-template-columns: 1fr;
    }
}