// WideScreens
@include mediaXl {
    
}
// Desktops & Laptops
@include mediaLg {

}
// Tablets & Small Laptops
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }
}
// Smartphones
@include mediaSm {

}