// WideScreens
@include mediaXl {
    main {
        .home-info {
            margin-top: 23rem;
        }
    }

    .about-page {
        zoom: 90%;
        padding-left: 5rem;

        .about-info {
            grid-template-areas:
                'bioimage bio bio'
                'opnS aboutme aboutme'
                'job1 job2 job3';
            grid-template-columns: repeat(3, 1fr);

            .opnS {
                margin-top: 0;
                // margin-left: 4rem;
            }

            .bio-image {
                margin-left: 4rem;
            }

            .about-me {
                margin-top: 0;
            }
        }
    }

    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

// Desktops & Laptops
@include mediaLg {
    main {
        .sm-heading {
            width: 50vw;
        }

        .lg-heading {
            font-size: 5.5rem;
        }

        .job-3 {
            .links {
                text-align: center;
                margin-left: 0;
                line-height: 3;
            }
        }
    }

    .about-page {
        zoom: 90%;
        padding-left: 2rem;
        padding-right: 2rem;

        .about-info {
            grid-template-areas:
                'bioimage bio bio'
                'opnS aboutme aboutme'
                'job1 job2 job3';
            grid-template-columns: repeat(3, 1fr);

            .opnS {
                margin-top: 0;
                // margin-left: 4rem;
            }

            .bio-image {
                margin-left: 4rem;
            }

            .about-me {
                margin-top: 0;
            }
        }
    }

    .projects {
        grid-template-columns: repeat(4, 1fr);
    }

    footer {
        display: flex;
        width: 100%;
        justify-content: center;

        div {
            width: 60%;
        }
    }
}

// Tablets & Small Laptops
@include mediaMd {
    main {
        align-content: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            font-size: 6rem;
            margin-right: 5rem;
        }

        .sm-heading {
            width: 100%;
        }

        .boxes {
            margin-top: 5rem;
        }

        .projects {
            margin-top: 5rem;
        }

        .about-info {
            margin-top: 5rem;
        }

        .home-info {
            width: 100%;
        }

        .job-3 {
            .links {
                margin-left: 0;
            }
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);

        .portrait {
            background: $myBrand_small no-repeat;
            width: 130px;
            height: 130px;
            margin: 5px auto;
        }
    }

    footer {
        display: flex;
        width: 100%;
        justify-content: center;

        div {
            width: 60%;
        }
    }

    .contact-page {
        padding-left: 5rem;
        zoom: 85%;
    }

    .work-page {
        padding-left: 11rem;
        zoom: 50%;
    }

    .home-page {
        display: flex;
        justify-content: center;
        padding-top: 6rem;
        zoom: 70%;
    }

    .about-page {
        zoom: 50%;


        .about-info {
            grid-template-areas:
                'bioimage'
                'bio'
                'opnS'
                'aboutme'
                'job1'
                'job2'
                'job3';
            grid-template-columns: 1fr;

            .opnS {
                margin-top: 0;
            }

            .bio-image {
                margin-left: 15rem;
            }

            .about-me {
                margin-top: 0;
            }
        }
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

// Smartphones
@include mediaSm {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            font-size: 5rem;
        }

        .home-info {
            font-size: .6rem;
            width: 100%;
        }

        .job-3 {
            .links {
                margin-left: 0;
            }
        }
    }

    .contact-page {
        padding-left: 4rem;
        zoom: 80%;
    }

    main#home h1 {
        margin-top: 10vh;
    }

    .projects {
        grid-template-columns: 1fr;
    }
}