@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  @include background;
  background-color: $primary-color;
  color: setTextColor($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Let's Style The Headings

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

$smallHeading-BgColor: rgba(lighten($primary-color, 2), 0.5);

main {
  display: grid;
  // height: 100%;
  min-height: calc(100vh - 60px);

  .lg-heading {
    position: absolute;
    padding: 1rem;
    font-size: 6rem;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    @include easeOut;

    /* Added here transition 
    to the Large heading When Hovred On it */
    &:hover {
      transform: translateX(100px);
      -webkit-transition: all 1s ease-out;
      -moz-transition: all 1s ease-out;
      transition: all 1s ease-out;
      color: $secondary-color;
    }

    /* Process Ended here .. */
  }


  .home-info {
    width: 45%;
    margin-top: 15rem;
    padding: 1rem;

    .sm-heading {
      margin-bottom: 2rem;
      padding: 0.2rem 1rem;
      border: 1px solid $primary-color;
      border-bottom-right-radius: 20px;
      border-top-left-radius: 20px;
      cursor: pointer;
      /* Added here transitions and animations 
        to the Small heading's background Color */
      /* Old browsers */
      background: linear-gradient(to left, $smallHeading-BgColor 50%, rgba(darken($primary-color, 5), 5) 50%);
      background-size: 1% 50%;
      background-position: right bottom;
      @include easeOut;

      &:hover {
        background-position: left bottom;
        border: 1px solid #fff;
      }

      /* Process Ended here .. */
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 10vh;
    }
  }

}

.icons {
  margin-top: 1rem;

  a {
    padding: 0.4rem;
    @include easeOut();

    &:hover {
      color: $secondary-color;
      @include easeOut();
    }

    .fab {
      transition: transform .3s;

      /* Animation */
      &:hover {
        transform: scale(1.5);
      }
    }
  }
}

// End of main Class

a {
  color: setTextColor($primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.secondary-text {
  color: $secondary-color;

  &:hover {
    color: setTextColor($primary-color);
    transition: all 2s ease-out;
    cursor: pointer;
  }
}

.text-secondary {
  color: $secondary-color;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);
  margin: 3rem;

  .bio-image {
    grid-area: bioimage;
    width: 200px;
    height: 200px;
    background: $myBrand no-repeat;
    // margin: auto;
    margin-top: 5rem;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: $primary-color;
    padding: 1.5rem;
    border-radius: 5px;
    border-bottom: $secondary-color 5px solid;
    box-shadow: -5px 5px 5px rgba($secondary-color, 0.3),
      inset -10px 10px 50px #676767;
    @include easeOut;
    cursor: pointer;

    &:hover {
      background: $primary-color;
      padding: 1.5rem;
      border-radius: 5px;
      border-bottom: $primary-color 5px solid;
      box-shadow: none;
      @include easeOut;
    }

    p {
      font-size: small;
      font-family: serif;
    }

    h3 {
      text-transform: capitalize;
      color: $secondary-color;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    &.job-2 {
      p {
        font-size: medium;
      }
    }

    &.job-3 {
      p {
        font-size: medium;
      }

      .links {
        a {
          padding: .5rem;
          background: #676767;
          border-radius: 5%;
          font-weight: 700;

          &:hover {
            padding: none;
            background: none;
            color: $secondary-color;
            font-weight: 700;
            @include easeOut;
          }
        }

        // margin-left: 5px;
        word-spacing: 1vw;
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }
}

/* WorkPage/Projects*/
.work-page {
  padding: 0 10rem 1rem 10rem
}

.about-page {
  padding: 0 10rem 1rem 10rem;
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

/* Contact Page */
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px white solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: SetTextColor($secondary-color);
      cursor: pointer;

      span {
        color: setTextColor($secondary-color);
      }
    }
  }
}


// Buttons Styles
.btn {
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: setTextColor($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  height: 60px;

  .my-signature {
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    color: $secondary-color;

    .love-mark {
      color: red;
    }

    a {
      color: gray;

      &:hover {
        color: rgba(lighten(red, 30), 40);
        @include easeOut;
      }
    }
  }
}

@import 'mobile';