@import 'config';
@import 'menu';
@import 'mobile';

* {
  box-sizing: border-box;
}

body {
  @include background;
  background-color: $primary-color;
  color: setTextColor($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Let's Style The Headings

h1, h2, h3  {
  margin: 0;
  font-weight: 400;
}

$smallHeading-BgColor: rgba(lighten($primary-color, 2), 0.5);

main {
  .sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    cursor: pointer;
    /* Added here transitions and animations 
    to the Small heading's background Color */
    /* Old browsers */
    background: linear-gradient(to left, $smallHeading-BgColor 50%, rgba(darken($primary-color, 5), 5) 50%);
    background-size: 1% 50%;
    background-position: right bottom;
    @include easeOut;
    
    &:hover {
      background-position: left bottom;
      border: 1px solid #fff;
    }
    /* Process Ended here .. */
  }
  .lg-heading {
    position: absolute;
    font-size: 6rem;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    @include easeOut;
        /* Added here transition 
    to the Large heading When Hovred On it */
    &:hover {
      position: fixed;
      transform: translateX(100px);
      -webkit-transition: all 1s ease-out;
      -moz-transition: all 1s ease-out;
      transition: all 1s ease-out;
      color: $secondary-color;
    }
    /* Process Ended here .. */
  }

}

a {
  color: setTextColor($primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.secondary-text {
  color: $secondary-color;
  &:hover {
    color: setTextColor($primary-color);
    transition: all 2s ease-out;
    cursor: pointer;
  }
}

main {
  display: grid;
  padding: 4rem;
  height: 100%;

  .not-heading {
    position: fixed;
    margin-top: 350px;
  }

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 10vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);
}

.bio-image {
  grid-area: bioimage;
  width: 200px;
  height: 200px;
  background: $myBrand no-repeat;
  margin: auto;
  border-radius: 50%;
  border: $secondary-color 3px solid;
}

.bio {
  grid-area: bio;
  font-size: 1.5rem;
}

.job-1 {
  grid-area: job1;
}
.job-2 {
  grid-area: job2;
}
.job-3 {
  grid-area: job3;
}

.job {
  background: lighten($primary-color, 5);
  padding: 1.5rem;
  border-radius: 5px;
  border-bottom: $secondary-color 5px solid;
  background: #444;
  box-shadow: inset 15px 15px 30px #494949, 
              inset -5px -5px 30px #676767;
}