@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  @include background;
  background-color: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Let's Style The Headings

h1, h2, h3  {
  margin: 0;
  font-weight: 400;
}

$smallHeading-BgColor: rgba(lighten($primary-color, 2), 0.5);

main {
  .sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    /* Old browsers */
    background: linear-gradient(to left, $smallHeading-BgColor 50%, rgba(darken($primary-color, 5), 5) 50%);
    background-size: 1% 50%;
    background-position: right bottom;
    @include easeOut;
    
    &:hover {
      background-position: left bottom;
    }
  }
  .lg-heading {
    font-size: 6rem;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    @include easeOut;
    &:hover {
      position: fixed;
      transform: translateX(100px);
      -webkit-transition: all 1s ease-out;
      -moz-transition: all 1s ease-out;
      transition: all 1s ease-out;
      color: $secondary-color;
    }
  }

}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.secondary-text {
  color: $secondary-color;
  &:hover {
    color: #fff;
    transition: all 2s ease-out;
    cursor: pointer;
  }
}

main {
  display: grid;
  padding: 4rem;
  height: 100%;

  .not-heading {
    position: fixed;
    margin-top: 350px;
  }

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 10vh;
    }
  }
}